.__benza {
  position: absolute;
  height: 150%;
  width: 100%;
  min-width: 320px;
  max-height: 500px;
  top: -55%;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
  box-shadow: 0px 0px 20px 2px #d5d5d5 inset, 0px 0px 30px -10px #4b4b4b;
}
.__benza-bottom {
  position: absolute;
  height: 150%;
  width: 80%;
  top: -30%;
  left: 10%;
  background-color: rgb(230, 230, 230);
  border-radius: 52% 48% 50% 50% / 0% 0% 100% 100%;
  box-shadow: 0px 0px 20px 2px #a9a9a9 inset, 0px 0px 60px -10px #000000;
}
.__benza-inside {
  position: absolute;
  height: 100%;
  width: 70%;
  min-width: 224px;
  max-height: 350px;
  top: -28%;
  left: 15%;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 35% 35% 65% 65%;
  box-shadow: 0px 0px 30px 20px #d5d5d5 inset;
}
.__benza-inside-water {
  position: absolute;
  height: 60%;
  width: 40%;
  min-width: 128px;
  top: -40%;
  left: 30%;
  background-color: rgb(207, 250, 255);
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  box-shadow: 0px 0px 30px 2px #2a87ca inset;
}

.__dai {
  position: absolute;
  width: 100%;
  height: calc(100% - 20px);
  border-radius: 5px;
  background-color: rgb(233, 216, 197);
  box-shadow: 0px 0px 100px 0px rgb(167, 145, 120) inset, 0px 0px 40px -10px #464646;
}
.__paper {
  position: relative;
  width: 40%;
  height: 60%;
  max-height: 230px;
  top: 10%;
  left: 5%;
  background-color: white;
  box-shadow: 5px 5px 10px -10px #4b4b4b;
}
.__paper-draw {
 position: absolute;
 width: 25%;
 height: 65%;
 max-height: calc(230px + 5%);
 top: 10%;
 left: 30%;
 background-color: white;
 box-shadow: 0px 0px 10px -2px #4b4b4b;
 transition: all .3s ease;
}
.__paper-draw.__is-active {
  width: 65%;
}
.__paper-top {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 5%;
  left: 5%;
  background-color: white;
  border-radius: 50%;
}
.__paper-bottom {
  position: relative;
  width: 40%;
  height: 10%;
  top: 5%;
  left: 5%;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  box-shadow: 20px 20px 30px -10px #4b4b4b;
}
.__paper-roll {
  position: relative;
  width: 13%;
  height: 3%;
  top: -0.6%;
  left: 18.5%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}