.__benza {
  position: absolute;
  top: calc(-55%);
  height: calc(150%);
  width: 100%;
  min-width: 320px;
  max-height: 500px;
  border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
  box-shadow: 0px 0px 20px 2px #d5d5d5 inset, 0px 0px 30px -10px #4b4b4b;
}
.__benza-hole {
  position: absolute;
  top: calc(-50%);
  height: calc(150%);
  width: 100%;
  min-width: 213px;
  max-height: 350px;
  border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
  box-shadow: 0px 0px 30px 20px #d5d5d5 inset;
}
.__benza-hole-water {
  position: absolute;
  top: calc(-40%);
  height: calc(100%);
  width: 100%;
  min-width: 85.3px;
  border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
  box-shadow: 0px 0px 20px 2px #266ea2 inset;
}

.__paper {
  position: relative;
  width: 40%;
  height: 60%;
  max-height: 230px;
  top: 5%;
  left: 5%;
  background-color: white;
  box-shadow: 5px 5px 10px -10px #4b4b4b;
}
.__paper-draw {
 position: absolute;
 width: 25%;
 height: 65%;
 max-height: calc(230px + 5%);
 top: 15%;
 left: 30%;
 background-color: white;
 box-shadow: 0px 1px 10px -5px #4b4b4b;
}
.__paper-top {
  z-index: 2;
  position: relative;
  width: 40%;
  height: 10%;
  top: 10%;
  left: 5%;
  background-color: white;
  border-radius: 50%;
}
.__paper-bottom {
  position: relative;
  width: 40%;
  height: 10%;
  top: 0%;
  left: 5%;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  box-shadow: 20px 20px 30px -10px #4b4b4b;
}
.__paper-roll {
  position: relative;
  width: 13%;
  height: 3%;
  top: -6.5%;
  left: 18%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}